body{
    background-color: #ffbf0f;
    text-align: center;
}
h1{
    text-shadow: 3px 3px 3px white;
}
#area{
    text-align: center;
    margin: auto;
    width: 600px;
    height: 350px;
    background-color: #ffd970;
    box-shadow: 5px 5px 5px black;
    border: solid 1px black;
}
.superior-esquerdo{
    width: 50px;
    position: absolute;
    top: 82px;
    left: 300px;
}
.inferior-esquerdo{
    width: 50px;
    position: absolute;
    top: 410px;
    left: 300px; 
}
.superior-direito{
    width: 50px;
    position: absolute;
    top: 82px;
    left: 1014px;
}
.inferior-direito{
    width: 50px;
    position: absolute;
    top: 410px;
    left: 1014px; 
}
#css{
    visibility: hidden;
    width: 350px;
    height: 200px;
    position: absolute;
    top: 25%;
    left: 42%;
    text-align: justify;
    text-transform: lowercase;
    letter-spacing: 2px;
    padding: 14px;
    font-weight: 900;

}
#css.visivel{
    visibility: visible;
}

.gerar{
    width: 100px;
    font-weight: 800;
}
